.spark {

    position: fixed;

    width: 12px;
    height: 12px;

    border-radius: 50%;

    pointer-events: none;

    z-index: 99999;

    background:
        radial-gradient(
            circle,
            rgba(255,255,255,1) 0%,
            rgb(243, 242, 243) 40%,
            rgba(244, 243, 245, 0.8) 70%,
            transparent 100%
        );

    box-shadow:
        0 0 1px rgb(251, 249, 252),
        0 0 1px rgba(245, 244, 245, 0.8),
        0 0 1px rgba(242, 241, 244, 0.6);

    animation:
        sparkleFade 0.5s linear forwards;
}

/* ANIMATION */

@keyframes sparkleFade {

    0% {

        transform:
            translate(-50%, -50%)
            scale(1);

        opacity: 1;
    }

    100% {

        transform:
            translate(-50%, -50%)
            scale(0);

        opacity: 0;
    }
}

/* MOBILE OFF */

@media screen and (max-width: 768px) {

    .spark {
        display: none;
    }
}